@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-transfer{
    background-color: white;
    min-width: 60%;
}
.ant-transfer .ant-transfer-list{
    border-radius: 0px;
    width: max-content;
    padding-left:10px;
    padding-right: 20px;
    min-width: 45%;
}
