:root {
  --table-height: 530px;
  --table-inner-height: 520px;
}
* {
    box-sizing: border-box;
}

.ant-transfer {
  min-width: 60%;
}

.ant-transfer .ant-transfer-list {
  border-radius: 0;
  width: 50%;
  height: auto;
}

.actions {
  text-align: right;
  align-items: flex-end;
  justify-content: right;
}

.ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:first-child,
.ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:last-child {
  border-radius: 0;
}
.ant-table-wrapper .ant-table-container table > thead > tr:first-child > *:first-child {
  width: 20%;
}

.ant-tabs-nav-wrap .ant-tabs-tab {
  padding: 12px;
}

.ant-tabs-nav {
  margin: 0 !important;
}

.ant-card.no-padding .ant-card-body {
  padding: 0;
}

/* Light Mode */
.light .ant-menu-item-selected {
  background-color: rgba(21, 104, 219, 0.1) !important; /* Custom background color for selected item in light mode */
  color: #1568db !important; /* Custom text color for selected item in light mode */
}

.light .ant-menu-item-selected a span {
  color: #1568db !important; /* Ensure link text color in selected item for light mode */
}

.light .ant-menu-item-active {
  background-color: rgb(228,231,231) !important; /* Custom background color for selected item in light mode */
}

/* Dark Mode */
.dark .ant-menu-item-selected {
  background-color: rgba(17, 26, 44, 1) !important; /* Custom background color for selected item in dark mode */
  color: #1568db !important; /* Custom text color for selected item in dark mode */
}

.dark .ant-menu-item-selected a span {
  color: #1568db !important; /* Ensure link text color in selected item for dark mode */
}

.light .ant-card .ant-card-head-title {
  @apply text-nomyx-text-light
}
.light .ant-card-bordered {
  border-color: rgb(187 187 187);
}

.light .ant-card .ant-card-grid {
  box-shadow: 1px 0 0 0 #BBBBBB, 0 1px 0 0 #BBBBBB, 1px 1px 0 0 #BBBBBB, 1px 0 0 0 #BBBBBB inset, 0 1px 0 0 #BBBBBB inset;
}

.light .ant-layout-content {
  @apply bg-nomyx-dark2-light
}

.dark .ant-layout-content {
  @apply bg-nomyx-dark2-dark
}

.light .ant-input-outlined.ant-input-disabled {
  @apply text-nomyx-text-light border-nomyx-gray4-light
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.status-toggle-switch {
  background-color: #9ca3af !important;
}
.status-toggle-switch.ant-switch-checked {
  background: #1668dc !important;
}
.login-div button, .forgot-password-div button, .reset-password-div button {
  background: #3F206B !important;
}
/*
.ant-form-item {
  margin: 0;
}

.grid .col-span-1 {
    margin-top: 20px;
}

.ant-btn {
    background-color: rgb(99 126 171);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
    padding: 3px 6px !important;
  }
  
  
  .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: var(--button-hover);
    color: white;
  }
  
  
  .ant-transfer .ant-transfer-operation .ant-btn .ant-btn-icon{
    position: relative;
    top: -3px;
  }

::-webkit-scrollbar {
    width: 0.5em;
  }
   
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: rgb(99 126 171);
    outline: 1px solid slategrey;
  }
*/
.ant-radio-group {
  .ant-radio-button-wrapper.login-radio-button.ant-radio-button-wrapper-checked{
    color: #fff !important;
    background: #3f206b !important;
    border-color: #3f206b !important;
  }
  .ant-radio-button-wrapper.login-radio-button {
    border: 1px solid #878787 !important;
    background: #fff !important;
    color: #000 !important;
  }
  }
  .dark .signup-input {
    color: #000 !important;
  }
  .dark .signup-input {
    input {
    color: #000 !important;
    }
  }
  .dark .signup-input .anticon-eye-invisible, .dark .signup-input .anticon-eye {
    color: #808080 !important;
  }