@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-transfer{
    background-color: white;
    min-width: 60%;
}
.ant-transfer .ant-transfer-list{
  border-radius: 0px;
  width: 50%;
  height: auto;
}

.ant-form-item {
  margin: 0 0 30px;
}

.ant-btn {
    background-color: rgb(99 126 171);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
    padding: 3px 6px !important;
  }
  
  
  .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: var(--button-hover);
    color: white;
  }
  
  
  .ant-transfer .ant-transfer-operation .ant-btn .ant-btn-icon{
    position: relative;
    top: -3px;
  }

::-webkit-scrollbar {
    width: 0.5em;
  }
   
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: rgb(99 126 171);
    outline: 1px solid slategrey;
  }

