.modalTable {
  > div {
    height: var(--table-height);

    > div {
      height: var(--table-height);

      > div {
        height: var(--table-inner-height);

        > div {
          min-height: var(--table-inner-height);
        }
      }
    }
  }
}
